# These are "proxy" symbols used to pass config-host.mak values
# down to Kconfig.  See also kconfig_external_symbols in
# meson.build: these two need to be kept in sync.

config LINUX
    bool

config GNUTLS
    bool

config X11
    bool

config PIXMAN
    bool
